<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>找工作</title>
  <style>
    form {
      margin: 10px;
    }
  </style>
</head>
<body>
  <form class="form-inline">
    <div class="form-group">
      <label for="area_label">地域：</label>
      <select class="form-control" name="province" id="province" onchange="areaChange(this)"></select>
    </div>
    <div class="form-group">
      <label for="language_label">语种：</label>
      <select class="form-control" name="language" id="language" onchange="languageChange(this)"></select>
    </div>
    <div class="form-group">
      <label for="job_type_label">兼/全职：</label>
      <select class="form-control" name="job_type" id="job_type" onchange="jobTypeChange(this)"></select>
    </div>
    <div class="more-btn-wrapper" style="text-align: center;">
      <button type="submit" class="btn btn-default" id="job_search" style="text-align: center;">全网搜</button>
  	</div>
  </form>
  
  <div id="job_list" class="list-group"></div>

  <div class="more-btn-wrapper" style="text-align: center; display: none;">
      <button class="btn btn-default" id="job_more">查看更多</button>
  </div>

  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">

  	var languageData = [{
  		"name": "英语",
  		"id": "1000"
  	}, {
  		"name": "法语",
  		"id": "2000"
  	}, {
  		"name": "韩语",
  		"id": "3000"
  	}, {
  		"name": "日语",
  		"id": "4000"
  	}, {
  		"name": "俄语",
  		"id": "5000"
  	}];

  	var jobTypeData = [{
  		"name": "兼职",
  		"id": "1"
  	}, {
  		"name": "全职",
  		"id": "2"
  	}];

    var provinceData = [{
          "name": "广东",
          "id": "440000"
      }, {
          "name": "北京",
          "id": "110000"
      }, {
          "name": "上海",
          "id": "310000"
      }, {
          "name": "江苏",
          "id": "320000"
      }, {
          "name": "浙江",
          "id": "330000"
      }, {
          "name": "湖北",
          "id": "420000"
      }, {
          "name": "四川",
          "id": "510000"
      }, {
          "name": "山东",
          "id": "370000"
      }, {
          "name": "河南",
          "id": "410000"
      }, {
          "name": "湖南",
          "id": "430000"
      }/*, {
          "name": "天津",
          "id": "120000"
      }, {
          "name": "河北",
          "id": "130000"
      }, {
          "name": "山西",
          "id": "140000"
      }, {
          "name": "内蒙古", 
          "id": "150000"
      }, {
          "name": "辽宁",
          "id": "210000"
      }, {
          "name": "吉林",
          "id": "220000"
      }, {
          "name": "黑龙江",
          "id": "230000"
      }, {
          "name": "安徽",
          "id": "340000"
      }, {
          "name": "福建",
          "id": "350000"
      }, {
          "name": "江西",
          "id": "360000"
      }, {
          "name": "广西",
          "id": "450000"
      }, {
          "name": "海南",
          "id": "460000"
      }, {
          "name": "重庆",
          "id": "500000"
      }, {
          "name": "贵州",
          "id": "520000"
      }, {
          "name": "云南",
          "id": "530000"
      }, {
          "name": "西藏",  
          "id": "540000"
      }, {
          "name": "陕西",
          "id": "610000"
      }, {
          "name": "甘肃",
          "id": "620000"
      }, {
          "name": "青海",
          "id": "630000"
      }, {
          "name": "宁夏",
          "id": "640000"
      }, {
          "name": "新疆",
          "id": "650000"
      }, {
          "name": "台湾",
          "id": "710000"
      }, {
          "name": "香港",
          "id": "810000"
      }, {
          "name": "澳门",
          "id": "820000"
      }*/];


    var provinceChanged = false;
    var languageChanged = false;
    var jobTypeChanged = false;

    var listArr = [];


    function areaChange(obj) {
    	console.log(obj);
		provinceChanged = true;
    }

    function languageChange(obj) {
    	console.log(languageChanged);
		languageChanged = true;
		console.log(languageChanged);
    }

    function jobTypeChange(obj) {
		console.log(jobTypeChanged);
		jobTypeChanged = true;
		console.log(jobTypeChanged);
    }

    function loadNewJobs(data, update) {
    	console.log(data);

      if (update || provinceChanged || languageChanged || jobTypeChanged) {
      	listArr = [];
      	provinceChanged = false;
        languageChanged = false;
        jobTypeChanged = false;
      }

      if (data && data.length) {
        data.forEach(function (item) {
          listArr.push('<a class="list-group-item" href="' + item.link + '">' + item.title + '</a>');
        });

        $('.more-btn-wrapper').show();
      }

      $('#job_list').html(listArr.join(''));
    }


    $(function() {
      var provinceOptionArr = [];
      provinceData.forEach(function (item) {
        provinceOptionArr.push('<option value="' + item.name + '">' + item.name + '</option>')
      });

      $('#province').html(provinceOptionArr.join(''));


      var languageOptionArr = [];
      languageData.forEach(function (item) {
        languageOptionArr.push('<option value="' + item.name + '">' + item.name + '</option>')
      });

      $('#language').html(languageOptionArr.join(''));


      var jobTypeOptionArr = [];
      jobTypeData.forEach(function (item) {
        jobTypeOptionArr.push('<option value="' + item.name + '">' + item.name + '</option>')
      });

      $('#job_type').html(jobTypeOptionArr.join(''));


      $('#job_search').click(function (event) {
        event.preventDefault();
        var province = $("#province").val();
          var language_value = $("#language").val();
          var job_type = $("#job_type").val()
          $.ajax({
              type:"get",  //提交方式
              dataType:"json", //数据类型
              url:"../search/", //请求url
              data: {
                'area': province,
                'language': language_value,
                'job_type':job_type,
                'length':0
              },
              success:function(data){ //提交成功的回调函数
                loadNewJobs(data, true);
              }
          });
      });

      $('#job_more').click(function (event) {
        event.preventDefault();
        var province = $("#province").val();
          var language_value = $("#language").val();
          var job_type = $("#job_type").val()
          $.ajax({
              type:"get",  //提交方式
              dataType:"json", //数据类型
              url:"../search/", //请求url
              data: {
                'area': province,
                'language': language_value,
                'job_type':job_type,
                'length':listArr.length
              },
              success:function(data){ //提交成功的回调函数
                loadNewJobs(data, false);
              }
          });
      });

    });
  </script>
</body>
</html>